---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kuma-ingress-watcher

commonAnnotations:
  repo: https://github.com/charlesthomas/homelab-kuma-ingress-watcher
commonLabels:
  app: kuma-ingress-watcher

resources:
- resources/deployments.yaml
- resources/external-secrets.yaml
- resources/namespaces.yaml
- resources/rbac.yaml
- resources/secrets.yaml
- resources/service-accounts.yaml

images:
- name: kuma-ingress-watcher
  newName: ghcr.io/squent/kuma-ingress-watcher
  newTag: 1.7.1

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: all
      namespace: kuma-ingress-watcher
      annotations:
        reloader.stakater.com/auto: "true"
  target:
    kind: Deployment
